@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(247, 100%, 37%, 0.2);
    border-radius: 6px;
  }
}
